<h1>Fantasy Teams</h1>
<hr>

<% if false %>
<%= link_to "New Fantasy Team", new_fantasyteam_path, id: "new_link", remote: true, :class => 'btn btn-primary' %>
<% end %>

<div class="container">
  <div class="span5">
    <div class="text-info">
      <h3>Teams that paid their fee</h3>
    </div>
    <hr>
    <div class="fantasyteams" id="paid_teams">
      <%= render @paid_teams %>
    </div>
  </div>
  <div class="span5">
    <div class="text-info">
      <h3>Teams that need to pay fee</h3>
    </div>
    <hr>
    <div class="fantasyteams" id="unpaid_teams">
    <%= render @unpaid_teams %>
    </div>
  </div>
</div>
